html,

body {
  background-color: #101323;
  padding-top: 29px;
  padding-bottom: -20px;
}

thead>tr>th {
    background-color: #101323;
    color: #101323;
}

 .navbar-custom {
    background-color: #f57b63;
}

  .navbar-nav>li>.dropdown-menu {
       background-color: #f57b63;
 }
