html,


body {
  background-color: #101323;
  padding-top: 29px;
  padding-bottom: -20px;
}

thead>tr>th {
    background-color: #101323;
    color: #101323;
}

 .navbar-custom {
    background-color: #f57b63;
}

.dropdown-item:hover {
    background-color: #fac2b7;
}

  .navbar-nav>li>.dropdown-menu {
       background-color: #f57b63;
 }

 .btn-custom {
     font-weight: 700;
     letter-spacing: 1000px
     border: none;
     border-radius: 300px;
     background-color: #708EC6 !important;
     border-color: #708EC6 !important;
 }


 .btn-custom:hover {
   color: #fff;
   background-color: #4975C7 !important;
 }

 .btn-custom2 {
     font-weight: 700;
     letter-spacing: 1000px
     border: none;
     border-radius: 2px;
     background-color: #708EC6 !important;
     border-color: #708EC6 !important;
 }


 .btn-custom2:hover {
   color: #fff;
   background-color: #4975C7 !important;
 }

 hr {
   background-color: rgba(255, 255, 255, 0.13);
 }
